.filer-gallery-wrapper { height: 300px; margin-bottom: 20px; }
.filer-gallery-imagewrapper { float: left; width: 400px; height: 300px; }
.filer-gallery-thumbswrapper { float: right; width: 120px; height: 300px; }