.filer-gallery-wrapper { height: 300px; margin-bottom: 20px; }
.filer-gallery-imagewrapper { float: left; width: 400px; height: 300px; }
.filer-gallery-thumbswrapper { float: right; width: 192px; height: 300px; }
.filer-gallery-thumbswrapper img { display: block; border: 0; margin:2px; padding:0;  }
.filer-gallery-thumbswrapper img.active { border: 1px solid white; margin:1px; padding:0;  }


.border_shadow {background:#000;padding:1px;margin:0 0 10px 0;
	-moz-box-shadow:#000 0 0 5px;
}

.label_skitter {z-index:150;position:absolute;bottom:0px;left:0px;background:url(skitter/images/back-box-label-black.png) repeat-x left top;color:#fff;display:none;border-top:1px solid #000;}
.label_skitter p {padding:10px;margin:0;font:normal 22px arial,tahoma;letter-spacing:-1px; color: #fff;}
.info_slide * {font-family:Consolas,arial,tahoma !important;}